<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hackeditr - Editor for Hackfoldr</title>
  <script type="text/javascript" src="bundle.js" async defer></script>
</head>
<body ng-app="hackeditr">
  <div ng-include="'dialog.html'"></div>
  <div class="container" ng-controller="MainController">
    <div class="page-header">
      <h1>{{title}}</h1>
    </div>
    <div ng-controller="AlertMsgController">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">
        {{alert.msg}}
      </alert>
    </div>

    <p>
      <a class="btn btn-primary" data-nodrag ng-click="save(this)">Save</a>
      <a class="btn btn-info" data-nodrag ng-click="open(-1)">New folder</a>
    </p>

    <script type="text/ng-template" id="items_renderer.html">
      <div ui-tree-handle>
        <a class="btn btn-success btn-xs" data-nodrag><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        {{item.title}}
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeItem(this)">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a class="pull-right btn btn-info btn-xs" data-nodrag ng-click="edit(this)">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-if="item.first" ng-click="open($index)" style="margin-right: 8px;">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
        <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
        </li>
      </ol>
    </script>
    <div class="col-md-6 col-sm-12" ui-tree="options">
      <ol ui-tree-nodes ng-model="list" >
        <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
      </ol>
    </div>
    <div class="col-md-6 col-sm-12">
      <pre class="code">{{list | json}}</pre>
    </div>
  </div>
</body>
</html>
