<div class="container">
<div class="top-block" ng-controller="AlertMsgController">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">
    {{alert.msg}}
  </alert>
</div>
<div class="jumbotron top-block">
  <h1>Hackeditr</h1>
  <p>Hackeditr help you edit Hackfoldr menu easily.</p>
  <hr/>
  <div class="well-lg"></div>

  <p class="text-primary">Please input your Hackfoldr name to start edit.</p>
  <form ng-submit="goEdit()">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-folder-open"></span></span>
      <input type="text" class="form-control" autofocus name="hackfoldrName" ng-model="hackfoldrName" placeholder="Hackfoldr Name" required>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Go</button>
      </span>
    </div>
  </form>
</div>
</div>
